* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
    font-family: "Kalpurush", sans-serif;
    padding: 24px 56px;
}

#sada-khata-editor {
    width: 100%;
    height: calc(100vh - 156px);
    overflow-y: auto;
    padding: 56px;
    background-color: #fff;
    border-radius: 30px;
    outline: none;
    font-weight: 500;
    font-size: 18px;
    color: #16303d;
    caret-color: #de3163;
    outline: none;
    border: none;
    font-family: "Kalpurush", sans-serif;
    letter-spacing: 1px;
    line-height: 32px;
    resize: none;
    white-space: pre-wrap;
    word-break: break-word;
    -webkit-appearance: textarea;
}

#sada-khata-editor::selection {
    background: #de3163;
    color: #fff;
}

.page-title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
    color: #de3163;
}

[placeholder]:empty::before {
    content: attr(placeholder);
    color: #aaa;
}

[placeholder]:empty:focus::before {
    content: "";
}

@media (max-width: 480px) {
    body {
        padding: 12px 12px;
    }

    #sada-khata-editor {
        padding: 32px;
        height: calc(100vh - 110px);
    }

    .page-title {
        margin-bottom: 8px;
        font-size: 30px;
    }
}
